body,h1,h2,h3,h4,h5,p,dl,dd,ul,ol,form,input,textarea,th,td,select {
	margin: 0;
	padding: 0;
	overflow: hidden;
}

em {
	font-style: normal;
}

li {
	list-style: none;
}

a {
	text-decoration: none;
}

img {
	border: none;
	vertical-align: top;
}

table {
	border-collapse: collapse;
}

input,textarea {
	outline: none;
}
body{
	font-size: 12px;
	font-family: "微软雅黑";
}
textarea {
	resize: none;
	overflow: auto;
}
.clear {
	zoom: 1;
	/*设置或检索对象的缩放比例。*/
}

.clear:after {
	content: "";
	display: block;
	clear: both;
}

.fl {
	float: left;
}

.fr {
	float: right;
}

.gradient {
	background: -webkit-linear-gradient(top, #FFFFFF, #f8f8f8);
	/*一般浏览器*/
	background: -moz-linear-gradient(top, #FFFFFF, #f8f8f8);
	/*火狐*/
	background: -ms-linear-gradient(top, #FFFFFF, #f8f8f8);
	/*ie10浏览器*/
	background: linear-gradient(top,#FFFFFF, #f8f8f8);
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#FFFFFF,endColorstr=#f8f8f8)";
	                    +background: #f9f9f9;
	/*滤镜*/
}
/*
 * 初始样式，所有标签样式为无，公共化代码
 */
			/*header{
	position: relative;
	width: 100%;
	height: 60px;
	background-color: black;
}*/
/*.title{
	margin-left:150px ;
}*/
/*#head li{
	float: left;
	line-height: 60px;
}
#head li a{
	display: block;
	padding-left:40px ;
	width: 90px;
	font-family: arial;
	font-weight: bold;
	color:white;
	font-size: 15px;
}
#head li a:hover{
	background-color:rgb(54,60,65);
	text-decoration:none;
}
#title {
	margin-right: 20px;
}
#title  li{
	float: right;
}
#title  li a{
	display: block;
	padding-right:15px;
	width: 60px;
	color:grey;
	font-size: 10px;
}
#title li a:hover{
	color:white;
}*/
#head{
	position: relative;
    margin:30px 0 0 800px; 
	width:700px;
	height:60px;
}
#head ul{
	position: absolute;
	top: 10px;
}
#head li{
	float: left;
}
#head li a{
	display: block;
	padding-top:5px;
	padding-left:60px ;
	width: 115px;
	color:black;
	font-size: 25px;
}
#head li a:hover{
	color: chocolate;
}
#footer{
	position: relative;
	width: 1400px;
	height:70px;
	margin: 530px auto;
}
#footer .Nav{
	width: 600px;
	height:30px;
	margin: 0 auto;
	font-size:20px;
}
#footer .Nav ul{
	padding-left: 105px;
}
#footer .Nav li{
	float: left;
	margin: 10px auto;
}
#footer .Nav li a{
	padding-top: 30px;
	padding-right:70px ;
	width: 120px;
	color:gray;
	font-size: 20px;
}
#footer #xian{
	width: 900px;
	height: 10px;
	margin: 10px auto;
	border-bottom: 1px solid gainsboro;
}
#footer .Nav li a:hover{
	color:burlywood;
}
#footer p{
	text-align: center;
	margin:30px auto;
	font-size: 15px;
	color:gray;
}